
@font-face{
	font-family: 'Suisse';
	src: url(./assets/SuisseIntl-Book.otf);
}

body{
	margin: 0;
	background: black;
	overflow-x: hidden;
}

main{
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 1fr; 
grid-template-rows: 2fr;
}


.student{

	font-family: 'Suisse';
	color: transparent;
	font-size: 5em;
	font-weight: normal;
	text-align: center;
	text-transform: capitalize;
	mix-blend-mode: difference;

	z-index: 3;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #BAE5E8;

display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2px;
align-items: center;
/*justify-content: center;*/

}

.letters{
	border: 5px ridge #cc4651;
	margin: 1em 4em 2em 4em;
	padding: 0.25em 0.5em;
	box-shadow: 10px 10px 5px #CC7C66;

}


.p5canvas{
	width: 100%;
	height: 100%;
}



.cardBack{
	position: absolute;
	z-index: 3;
	width: 50vw;
	height: 100vh;
	margin-top: 80%;
	margin-left: 26%;

}

.inputs{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 2em 5em;
}
input[type="text"]{
	margin: 2em;
	border-radius: 50px;
	color:#338474;

}


